<nav class="navbar navbar-expand-lg navbar-dark bg-primary header">
  <a class="navbar-brand" href="#">Daniel Albiol</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse menu" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
      <li class="nav-item  {%if page.url == item.link %} active {% endif %}">
        <a class="nav-link" href="{{ item.link }}" {% if page.url==item.link %}class="current" {% endif %}>{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>